.admin-panel {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: rgba(128, 128, 128, 0.5);
  border-radius: 10px;
  border: 5px solid #ffffff;
}

.admin-pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1em;
    padding: 3px;
    background: rgba(128, 128, 128, 0.5);
    border-radius: 10px;
    border: 5px solid #ffffff;
  }

.panel-admin {
  margin: 2em 1em 2em 1em;
  padding: 20px;
  width: 90%;
}

@media (min-width: 300px) {
  .admin-panel {
    display: flex;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .panel-admin {
    margin-left: 15em;
    padding: 20px;
    width: 60%;
  }
}
