.busqueda-mercado-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    background-color: rgba(211, 211, 211, 0); /* Light grey background with transparency */
    width: 100%;
}

@media (min-width: 768px) {
    .busqueda-mercado-container {
        flex-direction: row;
    }
}

.dropdown-container,
.search-bar-container {
    flex: 1;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.9); /* Lighter and more transparent background */
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Darker shadow */
    color: black;
}

.form-label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: 500;
}

.form-select,
.form-control {
    width: 100%;
    padding: 0.5em;
    border: none;
    border-radius: 4px;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Darker shadow */
    background-color: rgba(255, 255, 255, 0.1); /* Lighter and more transparent background */
}

.form-select:focus,
.form-control:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5); /* White focus indication for better contrast */
}