.button-card {
    width: 17.7em;
    border: 1px solid #ccc;
    padding: 10px;
    background-image: url("../assets/fondo_card.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (min-width: 300px) {
    .button-card {
        height: 5em;
        margin: 1.5em 1em 1em 1em;
    }
}

@media (min-width: 1024px) {
    .button-card {
        height: 5.5em;
        margin: 1.5em 1em 1em 3em;
    }
}

.button-orange {
    border-radius: 5px;
    border: 1px solid black;
    background-image: linear-gradient(to right, #f35a0e 0%, #d04301  51%, #f35a0e  100%);
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease; /* tiempo que tarda en cambiar de color */
}

.button-orange:hover {
    font-weight: bold;
    animation: pulse-border 1s infinite alternate; /* Aplica la animación */
}

.button-delete {
    border-radius: 5px;
    border: 1px solid black;
    background-image: linear-gradient(to right, #f30e0e 0%, #b90404  51%, #f30e0e  100%);
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease; /* tiempo que tarda en cambiar de color */
}

.button-delete:hover {
    font-weight: bold;
    animation: pulse-border 1s infinite alternate; /* Aplica la animación */
}

/* Define la animación */
@keyframes pulse-border {
    from {
        border-color: #ffffff; /* Color inicial del borde */
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7); /* Sombra inicial */
    }
    to {
        border-color: #C34A4A; /* Color final del borde */
        box-shadow: 0 0 0 10px rgba(255, 0, 0, 0); /* Sombra final */
        background-color: #C34A4A; /* Cambia el color de fondo al final de la transicion */
    }
}