.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.caja {
  display: flex;
  flex-direction: column;
  width: 45%;
  height: 45%;
  background-color: rgb(147, 147, 158);
  border-radius: 15%;
  background-image: url('../assets/fondo-modal.webp');
  border: 3px solid white;
}
.datos {
  display: flex;
  flex-direction: row;
}

.informacion {
  width: 70%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-around;
}
.linea{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 10%;
}
.texto{
    margin-top: 10%;
    font-size: 1.3em;
    /* border: 3px solid red; */
    margin-right: 10%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15%;
}
.principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3%;
  
}

.botones {
  display: flex;
  flex-direction: row;
  margin-top: 3%;
}

.nombre{
    margin-top: 5%;
}

.vender, .cerrar{

    color: white;
    background-color: transparent;
    border: none;
    font-size: 3vh;
    border-radius: 35%;
    padding: 3%;
    margin-right: 15%;
}

.vender:hover{
    font-weight: bold;
    animation: pulse-red 1s infinite alternate;
}

.cerrar:hover{
    font-weight: bold;
    animation: pulse-blue 1s infinite alternate;
}

@keyframes pulse-red {
    from {
        border-color: #ffffff; /* Color inicial del borde */
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7); /* Sombra inicial */
    }
    to {
        border-color: #C34A4A; /* Color final del borde */
        box-shadow: 0 0 0 10px rgba(255, 0, 0, 0); /* Sombra final */
        background-color: #C34A4A; /* Cambia el color de fondo al final de la transicion */
    }
}

@keyframes pulse-blue {
    from {
        border-color: #ffffff; /* Color inicial del borde */
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7); /* Sombra inicial */
    }
    to {
        border-color: #0B41CB; /* Color final del borde */
        box-shadow: 0 0 0 10px rgba(255, 0, 0, 0); /* Sombra final */
        background-color: #0B41CB; /* Cambia el color de fondo al final de la transicion */
    }
}