/* hoja de estilos para las cartas que se mostraran en carrusel en la pagina principal */
.center {
  position: absolute; /* La imagen sera de posicion absoluta respecto de la pantalla*/
  display: inline-block;
  animation: levitate 2s infinite alternate;
  left: 37vw;
  bottom: 23vh;
  width: 25vw;
  height: auto;
  z-index: 1;
}
.left {
  position: absolute;
  transform: matrix(
    0.75,
    0.5,
    -0.01,
    1,
    0,
    0
  ); /*esta funcion de css permite alterar la estructura, respectivamente: 
      - ajuste  del ancho en el eje x
      - modifica la inclinacion en el eje x
      - modifica la inclinacion en el eje y
      - ajuste  del alto en el eje y
      - ajusta la posicion respecto al eje x 
      - ajusta la posicion respecto al eje y
  */
  filter: brightness(25%); /*Funcion que asigna lo brillante que se vera*/
  left: 7vw;
  bottom: 23vh;
  width: 22vw;
  height: auto;
}
.right {
  position: absolute;
  transform: matrix(0.75, -0.5, -0.01, 1, 0, 0);
  filter: brightness(25%);
  right: 7vw;
  bottom: 23vh;
  width: 22vw;
  height: auto;
}

@keyframes levitate {
  from {
    bottom: 25vh;
  }
  to {
    bottom: 21vh;
  }
}
@keyframes slideLeft {
  from {
    transform: translateX(0);
    transform: matrix(0.75, 0.5, -0.01, 1, 0, 0);
    filter: brightness(25%);
  }
  to {
    transform: translateX(120%);
    filter: brightness(100%);
    width: 25vw;
    height: auto;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(0);
    transform: matrix(0.75, -0.5, -0.01, 1, 0, 0);
    filter: brightness(25%);
  }
  to {
    transform: translateX(-120%);
    filter: brightness(100%);
    width: 25vw;
    height: auto;
  }
}
@keyframes slideCLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(150%) matrix(0.75, -0.5, -0.01, 1, 0, 0);
    filter: brightness(25%);
    width: 22vw;
    height: auto;
  }
}

@keyframes slideCRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-135%) matrix(0.75, 0.5, -0.01, 1, 0, 0);
    filter: brightness(25%);
    width: 22vw;
    height: auto;
  }
}

.animate-centerLeft {
  animation: slideCLeft 0.5s forwards;
}

.animate-centerRight {
  animation: slideCRight 0.5s forwards;
}
.animate-left {
  animation: slideLeft 0.5s forwards;
}

.animate-right {
  animation: slideRight 0.5s forwards;
}

.imgModal {
  width: 100%;
  height: auto;
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.3));
}
.cartaColeccion {
  width: 25%;
  height: auto;
}

.dorso {
  filter: brightness(60%);
}

.repe {
  background-image: url("../assets/cartaDorso.png");
  background-repeat: no-repeat;
  /* background-position: left; */
  background-size: 100%;
  padding-top: 2%;
  padding-right: 1%;
}

@media ((min-width: 1280px) and (max-width: 1920px)) and ((min-height: 720px) and (max-height: 1080px)) {
  .center {
    bottom: 29vh;
  }
  .left {
    bottom: 29vh;
  }
  .right {
    bottom: 29vh;
  }
  @keyframes levitate {
    from {
      bottom: 31vh;
    }
    to {
      bottom: 27vh;
    }
  }
}

@media ((min-width: 1920px) and (max-width: 2560px)) and ((min-height: 1080px) and (max-height: 1440px)) {
  .center {
    bottom: 29vh;
  }
  .left {
    bottom: 29vh;
  }
  .right {
    bottom: 29vh;
  }
  @keyframes levitate {
    from {
      bottom: 31vh;
    }
    to {
      bottom: 27vh;
    }
  }
}

@media ((min-width: 2560px) and (max-width: 3840px)) and ((min-height: 1440px) and (max-height: 2160px)) {
  .center {
    bottom: 29vh;
  }
  .left {
    bottom: 29vh;
  }
  .right {
    bottom: 29vh;
  }
  @keyframes levitate {
    from {
      bottom: 31vh;
    }
    to {
      bottom: 27vh;
    }
  }
}

@media screen {
  @media (max-width: 720px) and (max-height: 1280px) {
    .center {
      left: 27vw;
      bottom: 40vh;
      width: 45vw;
      height: auto;
    }
    .left {
      left: 7vw;
      bottom: 35vh;
      width: 25vw;
      height: auto;
    }
    .right {
      right: 7vw;
      bottom: 35vh;
      width: 25vw;
      height: auto;
    }

    .cartaColeccion {
      width: 55%;
      height: auto;
      margin-bottom: 10%;
    }

    @keyframes levitate {
      from {
        bottom: 42vh;
      }
      to {
        bottom: 38vh;
      }
    }
    @keyframes slideLeft {
      from {
        transform: translateX(0);
        transform: matrix(0.75, 0.5, -0.01, 1, 0, 0);
        filter: brightness(25%);
      }
      to {
        transform: translateX(45%);
        filter: brightness(100%);
        bottom: 40vh;
        width: 45vw;
        height: auto;
      }
    }
    
    @keyframes slideRight {
      from {
        transform: translateX(0);
        transform: matrix(0.75, -0.5, -0.01, 1, 0, 0);
        filter: brightness(25%);
      }
      to {
        transform: translateX(-50%);
        filter: brightness(100%);
        bottom: 40vh;
        width: 45vw;
        height: auto;
      }
    }
    @keyframes slideCLeft {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(165%) matrix(0.75, -0.5, -0.01, 1, 0, 0);
        filter: brightness(25%);
        bottom: 35vh;
        width: 25vw;
        height: auto;
      }
    }
    
    @keyframes slideCRight {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(-80%) matrix(0.75, 0.5, -0.01, 1, 0, 0);
        filter: brightness(25%);
        bottom: 35vh;
        width: 25vw;
        height: auto;
      }
    }
  }

  @media ((min-width: 720px ) and (max-width: 1080px)) and ((min-height: 1280px) and (max-height: 1920px)) {
    .center {
      left: 27vw;
      bottom: 50vh;
      width: 45vw;
      height: auto;
    }
    .left {
      left: 7vw;
      bottom: 45vh;
      width: 25vw;
      height: auto;
    }
    .right {
      right: 7vw;
      bottom: 45vh;
      width: 25vw;
      height: auto;
    }

    .cartaColeccion {
      width: 55%;
      height: auto;
      margin-bottom: 10%;
    }

    @keyframes levitate {
      from {
        bottom: 52vh;
      }
      to {
        bottom: 48vh;
      }
    }
  }

  @media ((min-width: 1080px ) and (max-width: 1440px)) and ((min-height: 1920px) and (max-height:2560px )) {
    .center {
      left: 27vw;
      bottom: 40vh;
      width: 45vw;
    }
    .left {
      left: 2vw;
      bottom: 35vh;
      width: 28vw;
    }
    .right {
      right: 2vw;
      bottom: 35vh;
      width: 28vw;
    }

    .cartaColeccion {
      width: 55%;
      height: auto;
      margin-bottom: 10%;
    }
    @keyframes levitate {
      from {
        bottom: 42vh;
      }
      to {
        bottom: 38vh;
      }
    }
  }
}
