
@font-face {
  font-family: 'title';
  src: url('../assets/fonts/reach/Reach-OutlineStamp.ttf') ;
}
.coleccion {
  display: flex;
  flex-direction: row;
  width: 112%;
  align-items: center;
  position: relative;
  left: -5vw;
  justify-content: space-around;
}

.album {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 5vh;
  height: 75vh;
  width: 90%;
  background-image: url("../assets/album.png");
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 5%;
  background-position: center;
}

.pagina {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 90%;
  justify-content: space-around;
  /* align-items: space-around; */
}

.pagNum{
  text-align: center;
  font-family: 'title';
  font-size: 2em;
}

.fila {
  display: flex;
  flex-direction: row;
  /* width:  100%; */
    /* margin-top: 10%; */
  justify-content: space-around;
}

.fila .cartaColeccion:nth-child(2){
    /* padding-bottom: 5%; */
    position: relative;
    bottom: 4vh;
}
.pagina:nth-child(1) .fila .cartaColeccion:nth-child(3),
.pagina:nth-child(2) .fila .cartaColeccion:nth-child(1){
    position: relative;
    bottom: 5vh;
}

.flechaR, .flechaL{
  /* margin: 20px; */
  border-radius: 100%;
  position: absolute;
  top: 40%;

}
.flechaL{
  left: 0vw;
}

.flechaR{
  right: 0vw;
}
.pulse:hover {
  animation: pulse 1s infinite alternate;
}
.flechaR:active, .flechaL:active  {
    filter: brightness(0.7);
    transform: scale(0.9);
  }
@keyframes pulse {
 
  from {
    border-color: #c34a4a; 
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0); 
    background-color: #c34a4a; 
  }
  to {
    border-color: #0B41CB; 
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    background-color: #0B41CB;
  }
}

@media (max-width: 640px) and (max-height: 480px) {
  
  .pagina {
    height: 50%;/*<-------*/
  }

  .flechaR, .flechaL{
    top: 50%;/*<-------*/
    width: 4vw;/*<-------*/
    height: auto;/*<-------*/
  
  }
  .flechaL{
    left: -2vw;/*<-------*/
  }
  
  .flechaR{
    right: -2vw;/*<-------*/
  }

}

@media ((min-width: 640px) and (max-width: 960px)) and ((min-height: 480px) and (max-height: 540px)) {

  
  .album {
    height: 60vh;/*<-------*/
    width: 100%;/*<-------*/
  }

  .flechaR, .flechaL{
    top: 40%;/*<-------*/
    width: 4vw;/*<-------*/
    height: auto;/*<-------*/
  
  }
  .flechaL{
    left: -6vw;/*<-------*/
  }
  
  .flechaR{
    right: -6vw;/*<-------*/
  }
}

@media ((min-width: 960px) and (max-width: 1280px)) and ((min-height: 540px) and (max-height: 720px)) {

  .album {
    margin-bottom: 5%;
  }
  
  .pagina {
    width: 80%;
    height: 80%;
  }
  
  .flechaR, .flechaL{
    top: 40%;/*<-------*/
    width: 4vw;/*<-------*/
  }
}

@media ((min-width: 1280px) and (max-width: 1920px)) and ((min-height: 720px) and (max-height: 1080px)) {
  .coleccion {
    width: 90%;
    
    left: 4vw;
  }
  
  .album {
    height: 65vh;
    width: 100%;
    margin-bottom: 2% ;
  }
  
  .pagina {
    height: 80%;
  }
  
  .flechaR, .flechaL{
    top: 45%;
    width: 4vw;
  
  }
  .flechaL{
    left: -6vw;
  }
  
  .flechaR{
    right: -6vw;
  }
}
@media ((min-width: 1920px) and (max-width: 2560px)) and ((min-height: 1080px) and (max-height: 1440px)) {
  .coleccion {
    width: 160%;
    left: -15vw;
  }
  
  .album {
    height: 65vh;
    width: 120%;
  }
  
  .pagina {
    height: 80%;
  }
  
  .flechaR, .flechaL{
    top: 45%;
    width: 4vw;
  
  }
  .flechaL{
    left: -6vw;
  }
  
  .flechaR{
    right: -6vw;
  }
}

@media ((min-width: 2560px) and (max-width: 3840px)) and ((min-height: 1440px) and (max-height: 2160px)) {
  .coleccion {
    width: 230%;
    left: -21.5vw;
  }
  
  .album {
    height: 65vh;
    width: 120%;
  }
  
  .pagina {
    height: 80%;
  }
  
  .flechaR, .flechaL{
    top: 45%;
    width: 4vw;
  
  }
  .flechaL{
    left: -6vw;
  }
  
  .flechaR{
    right: -6vw;
  }
}

@media screen {
  @media (max-width: 720px) and (max-height: 1280px) {
    .coleccion {
      left: -2vw;
    }
    .album {
      height: 75vh;
      background-image:none;
      background-color: rgba(255, 255, 255, 0.15);
      margin-bottom: 7%;
      border-radius: 15vw;
      border: 3px solid white;
      
    }
    
    .pagina {
      justify-content:center;
      padding-bottom: 5%;
    }
    
    .fila {
      flex-direction: column;
      align-items: center;
    }
    
    .fila .cartaColeccion:nth-child(2){
        /* padding-bottom: 5%; */
        position: relative;
        bottom: 0vh;
    }
    .pagina:nth-child(1) .fila .cartaColeccion:nth-child(3),
    .pagina:nth-child(2) .fila .cartaColeccion:nth-child(1){
        position: relative;
        bottom: 0;
    }
    
    .flechaR, .flechaL{
      margin: 20px;
      
    }
    .flechaL{
      left: -10%;
    }
    
    .flechaR{
      right: -10%;
    }
    
  }
  @media ((min-width: 720px ) and (max-width: 1080px)) and ((min-height: 1280px) and (max-height: 1920px)) {

    .album {
      height: 77vh;
      width:80%;
      background-image:none;
      background-color: rgba(255, 255, 255, 0.15);
      margin-bottom: 7%;
      border-radius: 15vw;
      border: 3px solid white;
      margin-top: 10%;
    }
    
    .pagina {
      justify-content:center;
      padding-bottom: 7%;
    }
    
    .fila {
      flex-direction: column;
      align-items: center;
    }
    
    .fila .cartaColeccion:nth-child(2){
        /* padding-bottom: 5%; */
        position: relative;
        bottom: 0vh;
    }
    .pagina:nth-child(1) .fila .cartaColeccion:nth-child(3),
    .pagina:nth-child(2) .fila .cartaColeccion:nth-child(1){
        position: relative;
        bottom: 0;
    }
    
    .flechaR, .flechaL{
      margin: 20px;
      width: 7vw;
      height: auto;
      top: 47%;

    }
    .flechaL{
      left: -1vw;
    }
    
    .flechaR{
      right: -1vw;
    }
  }

  @media ((min-width: 1080px ) and (max-width: 1440px)) and ((min-height: 1920px) and (max-height:2560px )) {
      
    .album {
      height: 77vh;
      width:75%;
      background-image:none;
      background-color: rgba(255, 255, 255, 0.15);
      margin-bottom: 7%;
      border-radius: 15vw;
      border: 3px solid white;
      margin-top: 10%;
    }
    
    .pagina {
      justify-content:center;
      padding-bottom: 7%;
    }
    
    .fila {
      flex-direction: column;
      align-items: center;
    }
    
    .fila .cartaColeccion:nth-child(2){
        /* padding-bottom: 5%; */
        position: relative;
        bottom: 0vh;
    }
    .pagina:nth-child(1) .fila .cartaColeccion:nth-child(3),
    .pagina:nth-child(2) .fila .cartaColeccion:nth-child(1){
        position: relative;
        bottom: 0;
    }
    
    .flechaR, .flechaL{
      margin: 20px;
      width: 7vw;
      height: auto;
      top: 47%;

    }
    .flechaL{
      left: 2vw;
    }
    
    .flechaR{
      right: 2vw;
    }
  
  }
}