.cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 80vh;
}
.foco {
  display: flex;
  color: white;
  align-items: center;
  width: 45vw;
  height: 90%;
}
.ground {
  position: absolute;
  border-radius: 100%;
  background: url("../assets/suelo.jpg");
  border-color: #ffffff;
  width: 35vw;
  left: 32vw;
  height: 40px;
  bottom: 20%;
}

@media (max-width: 640px) and (max-height: 480px) {
  .ground {
    height: 40px;
    bottom: 2vh;
  }
}

@media ((min-width: 640px) and (max-width: 960px)) and ((min-height: 480px) and (max-height: 540px)) {
  .ground {
    height: 33px;
    bottom: 6vh;
  }
}

@media ((min-width: 960px) and (max-width: 1280px)) and ((min-height: 540px) and (max-height: 720px)) {
  .ground {
    height: 33px;
    bottom: 15vh;
  }
}

@media ((min-width: 1280px) and (max-width: 1920px)) and ((min-height: 720px) and (max-height: 1080px)) {
  .ground {
    height: 45px;
    bottom: 10vh;
  }
}
@media ((width: 1280px) and (max-width: 1920px)) and ((min-height: 720px) and (max-height: 1080px)) {
  .ground {
    height: 45px;
    bottom: 20vh;
  }
}

@media ((min-width: 2560px) and (max-width: 3840px)) and ((min-height: 1440px) and (max-height: 2160px)) {
  .foco {
    width: 65vw;
    height: 75vh;
  }
  .ground {
    height: 100px;
    bottom: 15vh;
  }
}

/*Foco y color del suela para las cartas comunes*/
.comun {
  background: radial-gradient(
    40% 150% at 50% 100%,
    /*los dos primeros porcentajes son el ancho y alto del degradado y los segundos el punto central de este*/
      #ffffff 0%,
    /*Color central del degradado y el tamaño de su centro*/ transparent 95%
      /*Color externo del degradado y desde donde empieza con respecto al centro*/
  );
}
.comun-ground {
  /*Sombra externa e interna del suelo, los datos antes de la coma se refieren a las dimensiones y color de la sombra exterior 
    y mediante la "inset" se especifica la sombra por dentro */
  box-shadow: 0px 0px 50px #ffffff, inset 0px 0px 50px #ffffff;
}

/* Foco y color de suelo para cartas raras */
.rara {
  background: radial-gradient(
    40% 150% at 50% 100%,
    /*los dos primeros porcentajes son el ancho y alto del degradado y los segundos el punto central de este*/
      #ffb800 0%,
    /*Color central del degradado y el tamaño de su centro*/ transparent 95%
      /*Color externo del degradado y desde donde empieza con respecto al centro*/
  );
}
.rara-ground {
  box-shadow: 0px 0px 50px #ffb800, inset 0px 0px 50px #ffb800;
}

/* Foco y color del suelo para cartas heroicas */
.heroe {
  background: radial-gradient(
    40% 150% at 50% 100%,
    /*los dos primeros porcentajes son el ancho y alto del degradado y los segundos el punto central de este*/
      #54bfe1 0%,
    /*Color central del degradado y el tamaño de su centro*/ transparent 95%
      /*Color externo del degradado y desde donde empieza con respecto al centro*/
  );
}
.heroe-ground {
  box-shadow: 0px 0px 50px #54bfe1, inset 0px 0px 50px #52bcde;
}

@media screen and (max-width: 720px) and (max-height: 1280px) {
  .foco {
    width: 65vw;
    height: 60vh;
  }
  .ground {
    left: 27vw;
    height: 70px;
    width: 45vw;
    bottom: 28vh;
  }
}
@media screen and ((min-width: 720px ) and (max-width: 1080px)) and ((min-height: 1280px) and (max-height: 1920px)) {
  .foco {
    width: 65vw;
  }
  .ground {
    left: 27vw;
    height: 70px;
    bottom: 28vh;
  }
}

@media screen and ((min-width: 1080px ) and (max-width: 1440px)) and ((min-height: 1920px) and (max-height:2560px )) {
  .foco {
    width: 75vw;
    height: 75vh;
  }
  .ground {
    width: 50vw;
    left: 25vw;
    height: 100px;
    bottom: 17vh;
  }
}

@media (max-width: 768px) {
  .titulo-sobres-inicio {
    font-size: 1.5em;
  }
}

@media (max-width: 991px) {
  .is-not-login{
    display: inline;
    padding: 10px;
  }
}