.lista-entradas-mercado {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    color: black;
}

.entrada-mercado {
    display: flex;
    flex-direction: row;
    padding: 1em;
    margin: 1em;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 4px;
    width: 25em;
    height: 15em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    color: black;
}

.entrada-mercado img {
    object-fit: cover;
    padding: 0.5em;
}

.entrada-mercado img:hover {
    /* hacer un destello */
    animation: blink 0.5s;
}

@keyframes blink {
    0% {
        filter: brightness(1);
    }
    50% {
        filter: brightness(1.5);
    }
    100% {
        filter: brightness(1);
    }
}

.entrada-mercado-info {
    width: 12em;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
}

.entrada-mercado-precio {
    font-size: 1.2em;
    font-weight: bold;
    
    margin-bottom: 0;
    margin-top: auto;
    display: flex;
    justify-content: right;
}

.entrada-mercado-nombre {
    font-size: 1.5em;
    font-weight: bold;
    
    display: flex;
    text-align: right;
}

.entrada-mercado-boton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkred;
    color: white; /* White text */
    border-radius: 4px;
    padding: 0.2em;
    font-size: 1.2em;
    cursor: pointer;
    margin-bottom: 0;
    margin-top: 1em;
    
    display: flex;
    justify-content: center;
}