.mercadoContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.lista-entradas-mercado {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    color: black;
}

.entrada-mercado {
    display: flex;
    flex-direction: row;
    padding-left: 0em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 1em;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 4px;
    width: 25em;
    height: 15em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    color: black;
}

.entrada-mercado img {
    object-fit: cover;
    padding: 0.5em;
}

.entrada-mercado img:hover {
    /* hacer un destello */
    animation: blink 0.5s;
}

@keyframes blink {
    0% {
        filter: brightness(1);
    }
    50% {
        filter: brightness(1.5);
    }
    100% {
        filter: brightness(1);
    }
}

.entrada-mercado-info {
    width: 12em;
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
}

.entrada-mercado-precio {
    font-size: 1.2em;
    font-weight: bold;
    
    margin-bottom: 0;
    margin-top: auto;
    display: flex;
    justify-content: right;
}

.entrada-mercado-nombre {
    font-size: 1.2em;
    font-weight: bold;
    display: flex;
    text-align: right;
}

.entrada-mercado-boton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkred;
    color: white; /* White text */
    border-radius: 4px;
    padding: 0.2em;
    font-size: 1.2em;
    cursor: pointer;
    margin-bottom: 0;
    margin-top: 1em;
    
    display: flex;
    justify-content: center;
}

.pagination-buttons {
    display: flex;
    justify-content: space-between;
    margin: 3em 0; /* Increase the vertical margin */
    padding: 0 1em;
    position: relative;
}

.pagination-button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.pagination-button:hover {
    animation: pulse 1s infinite alternate;
}

.pagination-button:active {
    filter: brightness(0.7);
    transform: scale(0.9);
}

.pagination-button:first-child {
    left: 10%;
}

.pagination-button:last-child {
    right: 10%;
}

.page-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'titleNew', sans-serif;
    font-size: 2em;
}


@keyframes pulse {
    from {
        border-color: #c34a4a; 
        box-shadow: 0 0 0 10px rgba(255, 0, 0, 0); 
        background-color: #c34a4a; 
    }
    to {
        border-color: #0B41CB; 
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
        background-color: #0B41CB;
    }
}

.busqueda-mercado-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    background-color: rgba(211, 211, 211, 0); /* Light grey background with transparency */
    width: 100%;
}

@media (min-width: 768px) {
    .busqueda-mercado-container {
        flex-direction: row;
    }
}

.dropdown-container,
.search-bar-container {
    flex: 1;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.9); /* Lighter and more transparent background */
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Darker shadow */
    color: black;
}

.form-label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: 500;
}

.form-select,
.form-control {
    width: 100%;
    padding: 0.5em;
    border: none;
    border-radius: 4px;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Darker shadow */
    background-color: rgba(255, 255, 255, 0.1); /* Lighter and more transparent background */
}

.form-select:focus,
.form-control:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5); /* White focus indication for better contrast */
}