.margin-left-auto { /* Clase para mover un elemento a la derecha */
    margin-left: auto;
}

.backgroundNavBar{
    background-image: linear-gradient(to right, black 15%, #0B41CB 130%); /* Gradiente para la transición de color */
    padding: 0.5em 0; /* Ajusta el espacio interno de la barra de navegación */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4); /* Agrega una sombra a la barra de navegación */
}

.nav-link {
    color: #ffffff !important; /* Cambia el color del texto a blanco, con el important le digo que tiene prioridad ante otros estilos */
    border: 2px solid transparent; /* Borde inicial transparente */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    position: relative; /* Posición relativa para el efecto de borde */
    overflow: hidden; /* Oculta el desbordamiento */
} 

.nav-link:hover {
    border-radius: 30%; /* modifica las esquinas */
}

.navbar-nav{
    width: 100%;
}

/* Estilos para pantallas grandes */
@media screen and (min-width: 992px) {
    .nav-perfil{
        color: black !important;
        font-weight: bold;
        background-image: url(../assets/Usuario.png);
        background-size: 100%;
        background-repeat: no-repeat;
        width: 8.5em !important;
        height: auto;
        margin-left:auto;
              
    }

    .nav-perfil:hover{
        font-weight: bold;
        border-radius: 0;
    }

    .image-logo { /* para pantallas mas grandes */
        width: 5em;
        height: auto;
    }

    .nav-link {
        text-align: center;
        padding: 10px 20px; /* Espaciado interno */
        width: 6em;
    }

    .nav-link:hover {
        font-weight: bold;
        animation: pulse-border 1s infinite alternate; /* Aplica la animación */
    }
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 991px) {

    .nav-perfil{
        color: black !important;
        font-weight: bold;
        background-image: url(../assets/Usuario.png);
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 0.4em;
        width: 6.8em !important;
        height: auto;
        margin-left:auto;
    }

    .nav-link {
        margin-left: auto; /* Ajusta el margen izquierdo para pegar los elementos a la derecha */
        margin-right: 0.4em;
        font-size: 0.8em;
        padding: 0.4em 0.1em; /* Espaciado interno */
        text-align: center;
        width: 6em;
    }

    .nav-perfil:hover{
        font-weight: bold;
        border-radius: 0;
    }
    
    .nav-link:hover {
        font-weight: bold;
        animation: pulse-border 1s infinite alternate; /* Aplica la animación */
    }

    .image-logo { /* para pantallas mas pequeñas*/
        width: 4em;
        height: auto;
    }

    .navbar-collapse{
        background-image: linear-gradient(to right, transparent 60%, rgba(11, 65, 203, 0.7) 98%, transparent); /* Gradiente para la transición de color */;
        border-radius: 0 0 1em 1em;
        position: absolute;
        top: 8em;
        width: 100%;
    }

    .open-menu{
        background-image: url(../assets/x-lg.svg);
    }

    .open-menu svg{
        color:white;
    }
}

/* Define la animación */
@keyframes pulse-border {
    from {
        border-color: #ffffff; /* Color inicial del borde */
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7); /* Sombra inicial */
    }
    to {
        border-color: #C34A4A; /* Color final del borde */
        box-shadow: 0 0 0 10px rgba(255, 0, 0, 0); /* Sombra final */
        background-color: #C34A4A; /* Cambia el color de fondo al final de la transicion */
    }
}