/* Fuente: Source Sans Pro 3 */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

body{
    color: white;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    font-family: 'Source Sans 3', sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
